/* .all-parks{
    background-color: antiquewhite;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: space-around;
    padding: 1% 0%;
}

.park{
    background-color: lightblue;
    width: 90%;
    align-self: center;
    margin: 1% 0%;
} */